body{
    background-color: black;
}
.heading{
    background-image: url("robots1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    height: 150px;
    padding-left:  2px;
}
.container{
    width: 85%;
    margin: auto;
    background-color: orange;
       
}
.nav-div{
    background-color: grey;
    width: 100%;
    height: 20%;
    margin: 7px 0px 0px 0px;
    display: flex;
    
}

.nav-div nav ul{
    list-style-type: none;
}
.nav-div nav ul li{
    padding: 0;
    margin: 0;
    display: inline;
    
}
.nav-div nav ul li a{
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    padding: 60px;
}
.div0{
    display: flex;
}
.col3{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50px;
}
.col9{
    width: 75%;
    margin: 15px;
}
.gallery{
    display: block;
}
.col9-2{
    display: flex;
    flex-direction: row;
}
.subscription{
    border-right: 3px solid rgb(33, 43, 55);
    padding-right: 5px;
}
.services{
    padding-left: 5px;
}
hr{
    background-color: rgb(33, 43, 55);
    border: none;
    height: 2px;
}
footer{
    text-align: center;
    font-size: 1.3em;
    color: black;
}
button{
background-color:#1cbce8;
border-radius:1px;
display:inline-block;
cursor:pointer;
color:black;
font-family:Arial;
font-size:1em;
font-weight:bold;
padding:10px 10px;
text-decoration:none;
}
form{
    padding: 10px;
    font-size: 1.1em;
    margin: 15px;
}
